@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.whole_page{
    /* background: #F5F5F5; */
    width: 100vw;
}
.white_bg{
    background: #fff;
    height: 10vh;
    margin-top: -2rem;
}
    /* background: url(../../assets/Images/allicons/BG-landing-3.png); */
.landing_section{
    width: 100vw;
    background: url(../../assets/Images/allicons/BG-landing-3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.header_part{
    height: 100vh;
    width: 100vw;
}
.header_part nav{
    height: 10vh;
    background: #fff;
    position: fixed;
    width: 100vw;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.20);
}
.own_link .nav-item{
    padding: 2rem;

}
.main_heading_logo{
    margin-left: 3rem;
}
.main_section{
    display: flex;
    width: 90vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
.left_side{
    width: 100%;
    margin-top: 8rem;
}
.right_side{
    width: 120%;
    height: 100%;
    margin-top: 8rem;
}
.left_side h1{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 108px;
    color: #101D40;
    font-style: normal;
}
.left_side p{
    font-weight: 500;
    font-family: "Monteserrat";
    font-size: 36px;
    color: #101D40;
}
.left_side .signup_btn{
    width: 12vw;
    height: 7vh;
    background-color: #FFBD2B;
    color: #101D40;
    text-transform: uppercase;
    border: none;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
.mainLogo{
    width: 100%;
    height: 100%;
}
.how_it_works{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.how_it_works_leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.how_it_works_leftside p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #101D40;
    text-transform: capitalize;
}
.how_it_works_leftside h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #101D40;
}
.how_it_works .right_side{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 6rem;
}
/* .inner_box{
    width: 20vw;
    height: 35vh;
    background-color: #f5f5f5;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.20);
} */
.gray_box{
    width: 23vw;
    height: 35vh;
    background: #EFEFEF;;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.20);
}
.gray_box:hover{
    height: 45vh;
    transition: 0.3s;
    animation: cardExtend 0.3s ease;
}

.gray_box p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17vh;
}
.gray_box .shopping{
    margin-top: 12vh;
}
.gray_box:hover p{
    margin-top: 2vh; 
     transition: 0.3s;
}
.gray_box .shopping img{
    width: 70%;
    height: 60%;
}
.gray_box p img{
    width: 60%;
    height: 60%;
}
.gray_box p h5{
    text-transform: uppercase;
    color: #101D40;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
}
.gray_box:hover p h5{
    font-weight: 400;
}

.gray_box h6{
text-align: center;
 font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #101D40;
opacity: 0;
}
.gray_box:hover h6{
    opacity: 1;
    transition: 0.3s;
}

.arrow_img{
    margin-top: -8rem;
    animation: upandDown 1s ease-in;
    animation-iteration-count: infinite;
}
.horizental_line{
    width: 90vw;
    margin: auto;
}
.horizental_line hr{
    border: 2px solid rgba(0, 0, 0, 0.25);
}
.installment_section{
    width: 100vw;
    /* height: 250vh; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
     /* background: #F5F5F5; */
}
.card_section{
    width: 76%;
    margin: auto;
    margin-top: 5rem;
}
.zero_interest_img{
    border-radius: 18px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.20);
width: 40%;
}
.zero_interest_img1{
    /* border-radius: 18px; */
    width: 40%;
}
.zero_interest{
    display: flex;
    gap: 4rem;
}
.odd_paragraph{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}
.odd_paragraph1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}
.even_paragraph{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 60%;
}
.even_paragraph1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 60%;
}
.even_paragraph .small_para{
    text-align: end;
}
.even_paragraph1 .small_para{
    text-align: end;
}
.header_main{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #101D40;
}
.header_para{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    color: #101D40;
}
.small_para{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: #101D40;
}
.horizental_line2{
    width: 90vw;
    margin: 6rem auto;
}
.horizental_line2 hr{
    border: 2px solid rgba(0, 0, 0, 0.25);
}
.break_payment{
    width: 100vw;
}
.Join_today{
    cursor: pointer;
}
.horizental_line3{
    width: 90vw;
    margin: 6rem auto;
}
.horizental_line3 hr{
    border: 2px solid rgba(0, 0, 0, 0.25);
}
.break_payment_mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 4rem auto;
    gap: 3rem;
}
.break_payment_leftside{
    width: 50%;
}
.break_payment_leftside img{
    width: 100%;
    border-radius: 30px;
}
.break_payment_rightside{
    width: 50%;
}
.break_payment_rightside h3{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
color: #101D40;
}
.break_payment_rightside p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #101D40;
}
.break_payment_rightside button{
    border: none;
    height: 8vh;
    width: 12vw;
    background: #FFBD2B;
    border-radius: 6px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 8px 10px  rgba(0,0,0,0.25);
}


.join_section{
    /* height: 50vh; */
    width: 100vw;
    /* background: #f5f5f5; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join_section h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
text-align: center;
color: #101D40;
width: 60vw;
}
.join_section button{
    width: 12vw;
    height: 8vh;
    background-color: #FFBD2B;
    border: none;
    margin-top: 2rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join_section button p{
margin-left: -3rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: -0.015em;
color: #101D40;
}
a{
    color: #fff;
}
a:hover{
    color: #fff;
    cursor: pointer;
}
.footer1{
    width: 100vw;
    height: 60vh;
    color: #fff;
    /* background: #F5F5F5; */
}
.footer1 .wave_img{
    width: 100vw;
    height: 60vh;
}
.footer_part{
    width: 90vw;
    height: 50vh;
    margin: -50vh auto 0;
    
}
.footer_onepay_btn1{
    width:70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    border-radius: 10px;
}
.footer_onepay_btn{
width: 60%;
}

.gap_maintain{
    margin-top: 1rem;
}
.grid{
    display: grid;
    width: 90vw; 
    justify-content: center;
    align-items: center;
}
.grid_five_columns{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    place-items: center;
}
.support{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}
.footer2{
    width: 100vw;
    height: 100vh;
    background: #101D40;
    color: #fff;
}

/* Business page design start***************************************************** */
.whole_business_page{
    width: 100vw;
    background-color:rgba(255, 255, 255, 0.42)
}
.business_landing_part{
    width: 100vw;
    height: 100vh;
}
.business_landing_part img{
    width: 100%;
    height: 100%;
}
.navbarSSS{
    margin-top: -100vh;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: #772144;
}
.navbarLoginScroll{
    /* margin-top: -100vh; */
    margin-top: 0vh;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: #772144;
}
.business_logo{
    margin-top: -2rem;
}
.navbarS{
    margin-top: -100vh;
    position: fixed;
    width: 100vw;
    height: 10vh;
    /* background: #fff; */
    /* background-size: cover; */
    background-image: url('../../assets/Images/allicons/banner.png');
    background-size: cover;
}
.navbarLogin{
    margin-top: 0vh;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-image: url('../../assets/Images/allicons/banner.png');
    background-size: cover;
}
.purple_button{
    width: 11vw;
    height: 8vh;
    margin-top: 2rem;
    background-color: #B94368;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purple_button .purple_signup{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
    font-size: 22px;
    cursor: pointer;
}
.purple_button:hover .purple_signup{
color: #fff;
cursor: pointer;
}
.business_landing_part nav{
    height: 10vh;
}
.business_landing_part nav .own_link .nav-item{
    margin-top: 0rem;
    padding: 2rem;
}
.dancing_arrow{
    animation: upandDown 1s ease-in;
    animation-iteration-count: infinite;
    /* position: absolute; */
}
@keyframes upandDown{
    0%{
        transform: translateY(0.5rem);
        transition: 0.5s;
    }
    50%{
        transform: translateY(1.5rem);
        transition: 0.5s;
    }
    100%{
        transform: translateY(0rem);
        transition: 0.5s;
    }
}
.for_business_how_it_works{
    width: 100vw;
    margin-top: -20vh;
}
.grow_business{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}
.grow_business h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 0.02em;
    color: #101D40;
}
.grow_business p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-transform: capitalize;
color: #101D40;
}
.how_it_works_business{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.how_it_works_business .left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}
.how_it_works_business .left_side h4{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #101D40;
}
.how_it_works_business .left_side h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #101D40;
}
.how_it_works_business .right_side{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.pink_box{
    width: 23vw;
    height: 35vh;
    background: #B94368;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.20);
}
.pink_box:hover{
    height: 45vh;
    transition: 0.3s;
    animation: cardExtend 0.3s ease;
}

.pink_box p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.pink_box:hover p{
    margin-top: 2vh; 
     transition: 0.3s;
}
.pink_box .install_pic{
    margin-top: 5vh;
}
.pink_box:hover .install_pic{
    margin-top: 1vh;
    transition: 0.3s;
}
.pink_box p img{
    width: 70%;
    height: 70%;
}
.pink_box p h5{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
}
.pink_box:hover p h5{
    font-weight: 400;
}

.pink_box h6{
text-align: center;
 font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #fff;
opacity: 0;
}
.pink_box:hover h6{
    opacity: 1;
    transition: 0.3s;
}
.multiply_sales{
    width: 100vw;
}
.description_part{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side_by_side{
    width: 100vw;
}
.side_by_side .side_image{
    width: 80vw;
    display: flex;
    gap: 2rem;
}
.side_by_side .side_image img{
    width: 50%;
}
.side_by_side .side_image div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side_by_side .side_image div h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #101D40;
}
.side_by_side .side_image div p{
margin-top: 1rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #101D40;
text-align: justify;
}



/* media query start************************************************** */
/* signin page********************************************* */

.business_signin_page{
    width: 100vw;
    height: 100vh;
    background: url('./../Images/sign-UP-BG-image/sign-up-BG.jpg');
}
.sign_in_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign_in_image_part{
    width: 100%;
    height: 80vh;
    /* margin-top: 10vh; */
}
.sign_in_image_part .image_only{
    height: 100%;
    width: 100%;
}
.credential_part{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    padding: 2% 0;
}

.signin_form{
    width: 60%;
    height: 80%;
}
.credential_part .sign-in{
    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    text-transform: none;
  color: #101D40;
  font-weight: 900;
  display: block;
  line-height: 1;
  margin-left: -40%;
}
.credential_part .butn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    height: 45px;
    font-size: 20px;
    min-width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #4075FF;
    border-radius: 33px;
}
.switchto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
}
.merchantPush{
    color: #4075FF;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
}
.merchantPush:hover{
    cursor: pointer;
    color:#4075FF;

}
.small_icons img{
    width: 75%;
}
.check_box{
    color: #101D40;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
}
.forgot_pwd{
    color: #101D40;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
}
.forgot_pwd:hover{
    color: #101D40;
}
.business_signin_page .new_input_box{
    background-color: #F0F0F0;
    border-radius: 15px;
    height: 51px;
    padding: 10px;
    display: flex;
    margin-bottom: 25px;
    border: none;
}
.business_signin_page .new_input_box input{
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}
.merchant_login_page .navbarLoginScroll nav .container-fluid #collapsibleNavId .own_link .nav-item .nav-link {
    color: #fff;
    margin-top: -1.5vh;
}
.merchant_login_page .navbarLogin nav .container-fluid #collapsibleNavId .own_link .nav-item .nav-link {
    color: #101D40;
    margin-top: -1.5vh;
}
.signin_form .new_input_box .input-cntr input {
    
    border: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.signin_link .nav-item{
    padding: 2rem;
    margin-top: -1.5rem;
}

/* signup page design*************************************** */
.signup .small_logo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 2%;
    margin-top: -3%;
}
.create_acct{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101D40;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    margin-top: -2%;
}
.new_signup{
    margin-top: 2rem;
}

.common_input{
    display: flex;
    gap: 1rem;
}
.common_input .mersign{
    width: 50%;
}
.new_signup .input-cntr {
    height: 51px;
    border-radius: 5px;
    border: none;
    background-color: #F0F0F0;
    padding: 10px;
    display: flex;
    margin-bottom: 25px;
    /* justify-content: center; */
    align-items: center;
}
.new_signup .input-cntr input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background-color: #F0F0F0;
}
.css-yk16xz-control{
    margin:-3px 0;
    background-color: #F0F0F0;
}
.phonepincode .react-tel-input .form-control {
    height: 51px;
    width: 100%;
    border: none;
    background-color: #f0f0f0;
  }
  .flrx_btn_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .already{
    text-decoration: none;
  }
  .goback{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
   color: #101D40;
   cursor: pointer;
   font-size: 18px;
   margin-top: 30px;
  }
  .goback:hover{
    font-weight: 600;
  }
  .lefbtn:hover{
    font-weight: 600;
  }
  
   .bg_signup{
    background: url(./../Images/sign-UP-BG-image/sign-up-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .select-country{
    background: #f0f0f0;
  }
  .signup .Verify:hover{
    font-weight: 600;
  }
/* Dashboard section start************************************** */
.blue_line{
    height: 8vh;
    width: 100vw;
    background-color: #101D40;
}
.dash_link{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem 0;
}
.dash_link .header-left {
    background-color: #e5e5e5;
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
    
}
.Merchantdashboard .dash_link .header-left {
    background-color: #e5e5e5;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.MerTraHistory .dash_link .header-left {
    background-color: #e5e5e5;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.merSubsc .dash_link .header-left {
    background-color: #e5e5e5;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.adminsetting .dash_link .header-left {
    background-color: #e5e5e5;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}

.dash_link .header-left a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.Merchantdashboard .dash_link .header-left li:nth-child(1) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.Merchantdashboard .dash_link .header-left li:nth-child(4) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.Merchantdashboard .dash_link .header-left a{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.MerTraHistory .dash_link .header-left li:nth-child(1) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.MerTraHistory .dash_link .header-left li:nth-child(4) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.MerTraHistory .dash_link .header-left a{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.merSubsc .dash_link .header-left li:nth-child(1) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.merSubsc .dash_link .header-left li:nth-child(4) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.merSubsc .dash_link .header-left a{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.merSubsc .dash_link{
    margin-top: 3rem;
}

.adminsetting .dash_link .header-left a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.adminsetting .Usermana{
    margin-top: 3rem;
}
.adminsetting .dash_link{
    margin-top: 3rem;
}

.setting_dashboard .dash_link .header-left{
    background-color: #e5e5e5;
    width: 74vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}

.setting_dashboard .dash_link .header-left a{
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}

.setting_dashboard .dash_link .header-left li:nth-child(1) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}
.setting_dashboard .dash_link .header-left li:nth-child(4) a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 6vh;
}

/* .dash_link .header-left a:nth-child(1){
    margin-left: -10px;
}
.dash_link .header-left a:nth-child(3){
    margin-left: 10px;
} */
.bac2 .text{
    margin: 0px 0 0 0;
}
.card_row{
    margin-top: 4rem;
}
.bac1 {
    background: #f2f2f2;
  }
  .bac2 {
    background: #f2f2f2;
  }
  .bac3 {
    background: #f2f2f2;
  }
  .bac4 {
    background: #f2f2f2;
  }
  .hover_card:hover .card_value1{
    height: 8vh;
  }
  .hover_card:hover .card_value1 label{
    display: block;
  }
  .hover_card:hover .card_value2{
    height: 8vh;
  }
  .hover_card:hover .card_value2 label{
    display: block;
  }
  .hover_card:hover .card_value3{
    height: 8vh;
  }
  .hover_card:hover .card_value3 label{
    display: block;
  }
  .hover_card:hover .card_value4{
    height: 8vh;
  }
  .hover_card:hover .card_value4 label{
    display: block;
  }
  .card_value1{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFBD2B;
    height: 2vh;
    margin-top: -10px;
    margin-left: 10%;
  }
  .card_value2{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4075FF;
    height: 2vh;
    margin-top: -10px;
    margin-left: 10%;
  }
  .card_value3{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101D40;
    height: 2vh;
    margin-top: -10px;
    margin-left: 10%;
  }
  .card_value4{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c4c4c4;
    height: 2vh;
    margin-top: -10px;
    margin-left: 10%;
  }
  .card_value1 label,.card_value2 label,.card_value3 label,.card_value4 label{
    display: none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
  }
  .card_para{
    margin-top: 3rem;
    
  }
  .card_btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transaction_details{
    margin-top: 2rem;
  }
  .transaction_details .Usermana{
    margin-left: 2rem;
  }
  .transaction_details1{
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .MerTraHistory .dash_link{
    margin-top: 3rem;
  }
  .mer_transaction_details{
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .mer_transaction_details h3{
    margin-left: 1rem;
  }
  .card_new{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blue_back_btn{
    margin: 3vh 0vw 0vh 2.5vw;
    cursor: pointer;
    display: flex;
  }
  .blue_back_btn p{
    color: #101D40;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  .add_new_btn{
    background-color: #4075FF;
    color: #fff!important;
  }
  .mersubcard .card{
    margin-top: 3rem;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  }
  .planpaymcard .card{
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  }
 .planinput .paybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 5vh;
    background-color: #101D40;
    border-radius: 10px;
  }
  .paybtn .SubmitButton{
    background-color: #101D40;
    color: #fff;
    margin: auto;
  }
  .planpaymcard .Usermana{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adminsetting .merchant_menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adminsetting .setting .card{
    margin-left: 2rem;
  }
  .planinput .select_plan{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101D40;
    margin-top: 1rem;
    font-size: 12px;
  }
  .back_pwd{
    margin-top: 1rem;
  }
  .back_pwd a{
    color: #101D40;
  }
  .mainprofile h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adding{
    background-color: #4075FF;
    color: #fff!important;
  }
  .notifitable{
    width: 100%!important;
    margin-top: 2rem;
  }
  .userpaymenttable{
    margin-top: 2rem;
    width: 100%;
  }
  .transaction_details1  .setting{
    margin-left: -2rem;
  }
  
  .common_table .common_one{
    width: 100%;
    margin-top: 1rem;
  }
  .end_user .header-left{
    margin-top: 2rem;
  }
  
  
  


