@media(max-width: 2000px) {
    .gray_box p img{
        width: 85%;
        height: 80%;
    }
    .gray_box h6 {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        color: #101D40;
        opacity: 0;
    }
    .gray_box p{
        margin-top: 5vh;
    }
    .gray_box:hover p{
        margin-top: -2vh; 
        transition: 0.3s;
    }
    .gray_box:hover h6 {
        opacity: 1;
        transition: .3s;
        margin-top: 1rem;
    }
    .gray_box .shopping {
        margin-top: 3vh;
    }
    .gray_box .shopping img{
        width: 80%;
        height: 70%;
    }
    .nav-item1 {
        margin-top: 2.5rem;
        padding: 0rem 2rem;
    }
    .nav-item2 {
        margin-top: 1.4rem;
        padding: 0rem 2rem;
    }
    .gray_box:hover {
        height: 40vh;
        transition: 0.3s;
        animation: cardExtend 0.3s ease;
    }
}

@media(max-width:1650px) {
    .gray_box p img{
        width: 80%;
        height: 73%;
    }
    .gray_box h6 {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        color: #101D40;
        opacity: 0;
    }
    .gray_box p{
        margin-top: 5vh;
    }
    .gray_box:hover p{
        margin-top: -2vh; 
        transition: 0.3s;
    }
    .gray_box:hover h6 {
        opacity: 1;
        transition: .3s;
        margin-top: 1rem;
    }
    .gray_box .shopping {
        margin-top: 3vh;
    }
    .gray_box .shopping img{
        width: 80%;
        height: 65%;
    }
    .gray_box:hover {
        height: 45vh;
        transition: 0.3s;
        animation: cardExtend 0.3s ease;
    }
    .join_section button p {
        margin-left: -4.7rem;
        font-size: 24px;
    }

    .join_section button {
        width: 16vw;
        height: 8vh;
        background-color: #FFBD2B;
        border: none;
        margin-top: 2rem;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:1526px) {
    .join_section button {
        width: 13vw;
        height: 8vh;
        background-color: #FFBD2B;
        border: none;
        margin-top: 2rem;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1500px) {
    .nav-item1 {
        margin-top: 2.5rem;
        padding: 0rem 2rem;
    }

    .nav-item2 {
        margin-top: 1.3rem;
        padding: 0rem 2rem;
    }

    .gray_box {
        width: 23vw;
        height: 30vh;
        background: #EFEFEF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 20px 2px rgb(0 0 0 / 20%);
    }

    .pink_box {
        width: 23vw;
        height: 30vh;
        background: #B94368;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 20px 2px rgb(0 0 0 / 20%);
    }

    .pink_box:hover {
        height: 32vh;
    }

    .pink_box p img {
        width: 80%;
        height: 70%;
    }

    .gray_box:hover {
        height: 32vh;
    }

    .gray_box p img {
        width: 85%;
        height: 70%;
    }

    .gray_box .shopping img {
        width: 80%;
        height: 70%;
    }

    .gray_box p {
        margin-top: 10vh;
    }

    .gray_box .shopping {
        margin-top: 5vh;
    }

    .sign-in-card {
        padding: 45px 40px;
        width: 700px;
    }

    .join_section button {
        width: 15vw;
    }

    .dashboard .card,
    .Merchantdashboard .card,
    .Userdashboard .card {
        border: 0;
        box-shadow: 7px 11px 10px 1px rgba(0, 0, 0, 0.1);
        border-radius: 100px 0px 0px 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 350px;
        margin-bottom: 10px;
    }
}

@media (max-width:1280px) {

    .gray_box h6 {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #101D40;
        opacity: 0;
    }
    .gray_box {
        width: 23vw;
        height: 34vh;
        background: #EFEFEF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 20px 2px rgb(0 0 0 / 20%);
    }

    .pink_box {
        width: 23vw;
        height: 34vh;
        background: #B94368;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 20px 2px rgb(0 0 0 / 20%);
    }

    .pink_box:hover {
        height: 39vh;
    }

    .pink_box p img {
        width: 65%;
        height: 70%;
    }

    .gray_box:hover {
        height: 39vh;
    }
    .gray_box:hover p{
        margin-top: -2vh; 
        transition: 0.3s;
    }
    .gray_box:hover h6 {
        opacity: 1;
        transition: .3s;
        margin-top: 0rem;
    }

    .gray_box p img {
        width: 70%;
        height: 70%;
    }

    .gray_box .shopping img {
        width: 65%;
        height: 70%;
    }

    .nav-item1 {
        margin-top: 1.5rem;
        padding: 0rem 2rem;
    }

    .nav-item2 {
        margin-top: 0.6rem;
        padding: 0rem 2rem;
    }

    .dashboard .card,
    .Merchantdashboard .card,
    .Userdashboard .card {
        border: 0;
        box-shadow: 7px 11px 10px 1px rgba(0, 0, 0, 0.1);
        border-radius: 100px 0px 0px 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 270px;
        margin-bottom: 10px;
    }

    .sign_in_image_part {
        width: 100%;
        height: 70vh;
    }

    .gray_box .shopping {
        margin-top: 3vh;
    }

    .gray_box p {
        margin-top: 10vh;
    }

    .side_by_side .side_image div p {
        font-size: 16px;
    }

    .how_it_works_business .left_side h4 {
        font-size: 30px;
    }

    .how_it_works_business .left_side h3 {
        font-size: 47px;
    }

    .business_logo {
        margin-top: -3rem;
    }

    .main_heading_logo {
        margin-left: 3rem;
        width: 50%;
        height: 50%;
    }

    .left_side h1 {
        font-family: "Montserrat";
        font-weight: 800;
        font-size: 87px;
        color: #101D40;
        font-style: normal;
    }

    .left_side p {
        font-weight: 500;
        font-family: "Monteserrat";
        font-size: 27px;
        color: #101D40;
    }

    .main_section {
        display: flex;
        width: 90vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .how_it_works {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -1rem;
    }

    .header_main {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 47px;
        text-transform: capitalize;
        color: #101D40;
    }

    .inner_box img {
        width: 50%;
        height: 50%;
    }

    .zero_interest_img {
        width: 50%;
    }

    .zero_interest_img1 {
        width: 40%;
    }

    .odd_paragraph {
        width: 50%;
    }

    .odd_paragraph1 {
        width: 60%;
    }

    .even_paragraph {
        width: 50%;
    }

    .even_paragraph1 {
        width: 60%;
    }

    .header_para {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        color: #101D40;
    }

    .small_para {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-transform: capitalize;
        letter-spacing: 0.05em;
        color: #101D40;
    }

    .break_payment_rightside p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #101D40;
    }

    .break_payment_rightside h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #101D40;
    }

    .join_section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .join_section h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
        color: #101D40;
        width: 60vw;
    }

    .join_section button {
        width: 16vw;
        height: 8vh;
        background-color: #FFBD2B;
        border: none;
        margin-top: 2rem;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow_img {
        margin-top: -2rem;
    }

    .own_link .nav-item {
        padding: 2rem;
        margin-top: -0.8rem;
    }

    .pink_box p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 14vh;
    }

    .pink_box:hover p {
        margin-top: 2vh;
        transition: 0.3s;
    }

    .pink_box .install_pic {
        margin-top: 7vh;
    }
}

@media (max-width:1024px) {
    .signin_link .nav-item {
        padding: 2rem;
        margin-top: -1.5rem;
    }
    .gray_box p {
        margin-top: 24vh;
    }

    .side_by_side .side_image div h5 {
        font-size: 30px;
    }

    .grow_business h1 {
        font-size: 58px;
    }

    .grow_business p {
        font-size: 20px;
    }

    .small_para {
        font-size: 13px;
    }

    .main_heading_logo {
        margin-left: 3rem;
        width: 7rem;
        height: 6rem;
    }

    .left_side h1 {
        font-family: "Montserrat";
        font-weight: 800;
        font-size: 74px;
        color: #101D40;
        font-style: normal;
    }

    .right_side {
        width: 100%;
        height: 100%;
    }

    .left_side {
        width: 100%;
    }

    .left_side p {
        font-weight: 500;
        font-family: "Monteserrat";
        font-size: 22px;
        color: #101D40;
    }

    .how_it_works {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -10rem;
    }

    .inner_box img {
        width: 50%;
        height: 50%;
    }

    .inner_box p {
        font-size: 24px;
    }

    .how_it_works_leftside p {
        font-size: 40px;
    }

    .how_it_works_leftside h2 {
        font-size: 55px;
    }

    .zero_interest {
        display: flex;
        gap: 1rem;
    }

    .header_main {
        font-size: 42px;
    }

    .header_para {
        font-size: 30px;
    }

    .break_payment .how_it_works_leftside h2 {
        text-align: center;

    }

    .break_payment_rightside h3 {
        font-size: 32px;
    }

    .break_payment_rightside p {
        font-size: 16px;
    }

    .join_section {
        margin-top: 0rem;
    }

    .break_payment_rightside button {
        width: 14vw;
        height: 10vh;
    }

    .join_section button {
        width: 21vw;
        height: 10vh;
    }
}

@media(max-width: 912px) {
    .dash_link .header-left {
        width: 90vw;
        height: 6vh;
    }

    .dash_link .header-left a {
        width: 30vw;
        height: 6vh;
    }

    .sign_in_image_part {
        width: 100%;
        height: 55vh;
    }

    .credential_part {
        height: 55vh;
        width: 80%;
    }

    .signin_form {
        width: 60%;
        height: 100%;
    }

    .business_signin_page .new_input_box {
        background-color: #F0F0F0;
        border-radius: 15px;
        height: 80px;
        padding: 10px;
        display: flex;
        margin-bottom: 25px;
        border: none;
        justify-content: center;
        align-items: center;
    }

    .new_input_box input::placeholder {
        font-size: 24px;
    }

    .navbarLoginScroll {
        height: 6vh;
    }

    .navbarLogin {
        height: 6vh;
    }

    .pink_box p {
        margin-top: 0vh;
    }

    .gray_box:hover {
        height: 35vh;
    }

    .side_by_side .side_image {
        flex-direction: column;
    }

    .side_by_side .side_image img {
        width: 100%;
    }

    .side_by_side .side_image div {
        width: 100%;

    }

    .grow_business h1 {
        font-size: 50px;
    }

    .how_it_works_business .right_side {
        display: flex;
        flex-direction: column;
    }

    .how_it_works .right_side {
        display: flex;
        flex-direction: column;
    }

    .gray_box {
        width: 75vw;
        height: 35vh;
    }

    .pink_box {
        width: 75vw;
        height: 35vh;
    }

    .pink_box p img {
        width: 80%;
        height: 80%;
    }

    .gray_box p img {
        width: 80%;
        height: 80%;
    }

    .gray_box .shopping img {
        width: 80%;
        height: 80%;
    }

    .pink_box p {
        margin-top: 0vh;
    }

    .gray_box p {
        margin-top: 0vh;
    }

    .pink_box .install_pic {
        margin-top: 0vh;
    }

    .gray_box .shopping {
        margin-top: 0vh;
    }

    .pink_box p h5 {
        font-size: 40px;
    }

    .pink_box h6 {
        font-size: 30px;
        opacity: 1;
    }

    .pink_box:hover {
        height: 35vh;
    }

    .gray_box p h5 {
        font-size: 40px;
    }

    .gray_box h6 {
        font-size: 30px;
        opacity: 1;
    }

    .white_bg {
        margin-top: 0rem;
        height: 8vh;
    }

    .left_side .signup_btn {
        width: 20vw;
    }

    .landing_section {
        background-size: cover;
    }

    .main_section {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 85vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .left_side {
        width: 100%;
        height: 50%;
        margin-top: 22rem;
    }

    .right_side {
        width: 100%;
        height: 50%;
    }

    .left_side h1 {
        font-size: 120px;
    }

    .left_side p {
        font-size: 32px;
    }

    .inner_box img {
        width: 40%;
        height: 50%;
    }

    .inner_box p {
        font-size: 30px;
    }

    .how_it_works {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        margin-top: 0rem;
    }

    .how_it_works_leftside {
        height: 15vh;
    }

    .how_it_works_rightside {
        height: 80vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .how_it_works .horizental_line {
        height: 2vh;
    }

    .inner_box {
        width: 45vw;
        height: 23vh;
        background-color: #f5f5f5;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 20px 2px rgb(0 0 0 / 20%);
    }

    .how_it_works_leftside h2 {
        text-align: center;
    }

    .break_payment_mainDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 80vh;
        margin: 4rem auto;
        grid-gap: 3rem;
        gap: 3rem;
    }

    .break_payment_leftside {
        width: 80%;
        height: 50%;
    }

    .break_payment_rightside {
        width: 80%;
        height: 50%;
    }

    .break_payment_mainDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 80vh;
        margin: 4rem auto;

    }

    .break_payment_rightside button {
        height: 6vh;
        width: 20vw;
    }

    .break_payment_leftside img {
        height: 80%;
    }

    .break_payment_rightside h3 {
        font-size: 50px;
    }

    .break_payment_rightside p {
        font-size: 30px;
    }


    .join_section {
        margin-top: 0rem;
    }

    .break_payment .horizental_line {
        height: 5vh;
    }

    .join_section button {
        width: 24vw;
        height: 6vh;
        background-color: #FFBD2B;
        border: none;
        margin-top: 2rem;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid_five_columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        place-items: center;
        margin: 0 auto;
    }

    .footer2 {
        height: 45vh;
        margin-top: 5rem;
    }
}

@media (max-width:820px) {
    .pink_box p {
        margin-top: 0vh;
    }

    .gray_box p {
        margin-top: 0vh;
    }

    .join_section button {
        width: 25vw;
    }
}

@media(max-width:768px) {
    .merPlanPayment .planpaymcard {
        margin-top: 3rem;
    }

    .white_bg {
        margin-top: 0rem;
        height: 10vh;
    }

    .footer2 {
        width: 100vw;
        height: 50vh;
        background: #101D40;
        color: #fff;
        font-size: 0.7rem;
    }

    .footer2 div {
        margin: 1rem auto;
    }

    .join_section {
        margin-top: 3rem;
    }

    .join_section button {
        width: 26vw;
    }
}

@media (max-width:630px) {
    .navbar-light .navbar-nav .nav-link1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #101D40;
        border-bottom: none;
    }

    .navbar-light .navbar-nav .nav-link2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
        border-bottom: none;
    }

    .navbar-light .navbar-nav .nav-link3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #101D40;
        border-bottom: none;
    }

    .nav-item1 {
        margin-top: 1.5rem;
        padding: 0rem 1rem;
    }

    .nav-item2 {
        margin-top: 0.6rem;
        padding: 0rem 1rem;
    }

    .card_para {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .setting_dashboard .dash_link {
        display: none;
    }

    .dash_link {
        display: none;
    }

    .blue_line {
        height: 17vh;
    }

    .transaction_details1 .Usermana {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .transaction_details .Usermana {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .transaction_details .dash {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbarLoginScroll {
        height: 11vh;
    }

    .navbarLogin {
        height: 11vh;
    }

    .inner_box {
        width: 80vw;
        height: 25vh;
    }

    .left_side h1 {
        font-size: 62px;
    }

    .left_side p {
        font-size: 22px;
    }

    .left_side {
        width: 100%;
        height: 50%;
        margin-top: 15rem;
    }

    .main_heading_logo {
        margin-left: 3rem;
        width: 7rem;
        height: 6rem;
        margin-top: -1.2rem;
    }

    .right_side {
        width: 100%;
        height: 50%;
        margin-top: 1rem;
    }

    .left_side .signup_btn {
        height: 5vh;
        font-size: 15px;
    }

    .how_it_works_leftside p {
        font-size: 30px;
    }

    .how_it_works_leftside h2 {
        font-size: 45px;
    }

    .inner_box img {
        width: 35%;
        height: 50%;
    }

    .inner_box p {
        font-size: 25px;
    }

    .zero_interest {
        flex-direction: column;
    }

    .zero_interest_img {
        width: 100%;
    }

    .zero_interest_img1 {
        width: 100%;
    }

    .odd_paragraph {
        width: 100%;
    }

    .odd_paragraph1 {
        width: 100%;
    }

    .even_paragraph {
        width: 100%;
    }

    .even_paragraph1 {
        width: 100%;
    }

    .break_payment_rightside h3 {
        font-size: 35px;
    }

    .break_payment_rightside p {
        font-size: 20px;
    }

    .break_payment_rightside button {
        height: 9vh;
        width: 27vw;
    }

    .join_section h4 {
        font-size: 25px;
    }

    .join_section button {
        width: 37vw;
        height: 9vh;
    }

    .footer1 {
        height: 100vh;
    }

    .footer1 .wave_img {
        width: 100vw;
        height: 100vh;
    }

    .grid_five_columns {
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
    }

    .footer_part {
        width: 90vw;
        height: 70vh;
        margin: -75vh auto 0;
    }
}

@media (max-width:600px) {
    .merPlanPayment .planpaymcard {
        margin-top: 3rem;
    }

    .blue_back_btn {
        display: none;
    }

    .planinput .paybtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 5vh;
        background-color: #101D40;
    }

    .admin_dashboard .dash_link .header-left {
        width: 100vw;
    }

    .admin_dashboard .dash_link .header-left li:nth-child(1) a {
        width: 30vw;
    }

    .admin_dashboard .dash_link .header-left a {
        width: 40vw;
    }

    .credential_part {
        height: 75vh;
        width: 90%;
    }

    /* .mySize{
        margin-top: -5rem;
    }
    .goback{
        margin-top: 5rem;
    }
    .already {
        margin-top: 2rem;
    } */
    .flrx_btn_part {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }

    .purple_button {
        width: 25vw;
        height: 6vh;
    }

    .sign-in-card {
        padding: 45px 40px;
        width: 450px;
    }
}

@media(max-width:575px) {
    .white_bg {
        margin-top: 0rem;
        height: 22vh;
    }

    .own_link .nav-item {
        padding: 1rem;
        margin-top: -0.8rem;
    }

    .own_link {
        background-color: #fff;
    }
}

@media (max-width:540px) {
    .login_logo {
        margin-top: 1rem;
    }

    .goback {
        font-size: 14px;
    }

    .already a {
        font-size: 14px;
    }

    .create_acct {
        text-align: center;
        font-size: 21px;
    }

    .signup .small_logo {
        justify-content: center;
    }

    .common_input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .common_input .mersign {
        width: 100%;
    }

    .whole_business_page .navbarSSS nav .container-fluid #collapsibleNavId .own_link .nav-item .nav-link {
        color: #101D40;
        margin-top: -1rem;
    }

    .merchant_login_page .navbarLoginScroll nav .container-fluid #collapsibleNavId .own_link .nav-item .nav-link {
        color: #101D40;
        margin-top: -1.5vh;
    }

    .sign_in_image_part {
        width: 100%;
        height: 50vh;
    }

    .new_input_box input::placeholder {
        font-size: 18px;
    }

    .business_signin_page .new_input_box {
        height: 50px;
    }

    .credential_part .sign-in {
        font-size: 27px;
    }

    .check_box {
        font-size: 10px;
    }

    .forgot_pwd {
        font-size: 10px;
    }

    .switchto {
        font-size: 10px;
    }

    .switchto a {
        font-size: 10px;
    }

    .signin_form {
        width: 75%;
        height: 100%;
    }

    .pink_box p {
        margin-top: 0vh;
    }

    .pink_box p img {
        width: 70%;
        height: 70%;
    }

    .for_business_how_it_works {
        width: 100vw;
        margin-top: -50vh;
    }

    .grow_business h1 {
        font-size: 30px;
    }

    .pink_box p h5 {
        font-size: 25px;
        font-weight: 400;
    }

    .gray_box p h5 {
        font-size: 25px;
        font-weight: 400;
    }

    .pink_box h6 {
        font-size: 15px;
        opacity: 1;
    }

    .gray_box h6 {
        font-size: 15px;
        opacity: 1;
    }

    /* .pink_box:hover{
        display: none;
    }
    .gray_box:hover{
        display: none;
    } */
    .gray_box p {
        margin-top: 0vh;
    }

    .business_landing_part img {
        width: 100%;
        height: 65%;
    }

    .how_it_works .horizental_line {
        margin-top: 3rem;
    }

    .installment_section {
        margin-top: 4rem;
    }

    .left_side h1 {
        font-size: 62px;
    }

    .left_side p {
        font-size: 22px;
    }

    .left_side {
        width: 100%;
        height: 50%;
        margin-top: 15rem;
        text-align: center;
    }

    .main_heading_logo {
        margin-left: 3rem;
        width: 7rem;
        height: 6rem;
        margin-top: -1.2rem;
    }

    .right_side {
        width: 100%;
        height: 50%;
        margin-top: 1rem;
    }

    .left_side .signup_btn {
        height: 5vh;
        font-size: 15px;
    }

    .how_it_works_leftside p {
        font-size: 30px;
    }

    .how_it_works_leftside h2 {
        font-size: 45px;
    }

    .inner_box img {
        width: 20%;
        height: 50%;
    }

    .inner_box p {
        font-size: 25px;
    }

    .zero_interest {
        flex-direction: column;
    }

    .zero_interest_img {
        width: 100%;
    }

    .zero_interest_img1 {
        width: 100%;
    }

    .odd_paragraph {
        width: 100%;
    }

    .odd_paragraph1 {
        width: 100%;
    }

    .even_paragraph {
        width: 100%;
    }

    .even_paragraph1 {
        width: 100%;
    }

    .break_payment_rightside h3 {
        font-size: 35px;
    }

    .break_payment_rightside p {
        font-size: 20px;
    }

    .break_payment_rightside button {
        height: 9vh;
        width: 27vw;
    }

    .join_section h4 {
        font-size: 25px;
    }

    .join_section button {
        width: 37vw;
        height: 9vh;
    }

    .footer1 {
        height: 100vh;
    }

    .footer1 .wave_img {
        width: 100vw;
        height: 100vh;
    }

    .grid_five_columns {
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
    }

    .footer_part {
        width: 90vw;
        height: 70vh;
        margin: -75vh auto 0;
    }

    .footer2 {
        height: 65vh;
    }

    .grow_business p {
        font-size: 15px;
    }

    .how_it_works_business .left_side h3 {
        font-size: 40px;
    }

    .how_it_works_business .left_side h4 {
        font-size: 25px;
    }
}

@media (max-width:414px) {
    .dash_link .header-left {
        width: 100vw;
        height: 6vh;
    }

    .dash_link .header-left a {
        width: 30vw;
        height: 6vh;
    }

    .dash_link .header-left a:nth-child(3) {
        width: 40vw;
        height: 6vh;
    }

    .sign-in-card {
        padding: 45px 40px;
        width: 380px;
    }

    .join_section button {
        width: 49vw;
        height: 9vh;
    }

    .break_payment_rightside button {
        height: 6vh;
        width: 31vw;
    }
}

@media (max-width:394px) {
    .join_section button {
        width: 51vw;
        height: 9vh;
    }

    .break_payment_rightside button {
        height: 7vh;
        width: 33vw;
    }
}

@media (max-width:391px) {
    .sign-in-card {
        padding: 45px 40px;
        width: 320px;
    }

    .grow_business h1 {
        font-size: 21px;
    }

    .grow_business p {
        font-size: 12px;
    }

    .how_it_works_business .left_side h3 {
        font-size: 34px;
    }

    .footer2 {
        height: 85vh;
    }

    .join_section button p {
        font-size: 23px;
    }

    .installment_section {
        margin-top: 0rem;
    }

    .footer_part p {
        font-size: 0.8rem;
    }

    .main_heading_logo {
        margin-left: 0rem;
    }

    .left_side h1 {
        font-size: 45px;
    }

    .left_side .signup_btn {
        height: 5vh;
        font-size: 13px;
    }

    .how_it_works_leftside p {
        font-size: 20px;
    }

    .how_it_works_leftside h2 {
        font-size: 30px;
    }

    .header_main {
        font-size: 33px;
    }

    .header_para {
        font-size: 25px;
    }

    .small_para {
        font-size: 15px;
    }

    .break_payment_mainDiv {
        gap: 1rem;
    }

    .break_payment_rightside h3 {
        font-size: 30px;
    }

    .break_payment_rightside p {
        font-size: 15px;
    }

    .break_payment_rightside button {
        height: 8vh;
        width: 40vw;
    }

    .join_section {
        margin-top: 7rem;
    }

    .join_section button {
        width: 52vw;
        height: 10vh;
    }
}

@media (max-width:360px) {
    .sign-in-card {
        padding: 45px 40px;
        width: 320px;
    }

    .join_section button {
        width: 54vw;
        height: 9vh;
    }
}